<!doctype html>
{% load static %}

    <head>
        
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    </head>
    <body>
        <div class="wrap">
            
            <div class="introArea_bg"> 
                <div class="introArea_text">
                <h1>자기 소개서</h1>
                </div>
            </div>
            

            
            <ul class ="Basic_Info">
                <li>
                    <div>
                        
                    
                    <div class="content1">이름 : 백종문</div>
                    <div class="content2">주소 : 인천시 부평구 경원대로 1269</div>
                    <div class ="icons">
                        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/im2.jpg' %}">
                    </div>
                    </div>
                </li>
                <li>
                    <div>
                    <div class="content1">생년월일 : 1996. 12. 02</div>
                    <div class="content2">혈액형 : A형</div>
                    </div>
                </li>
                
                <li>
                    <div>
                    <div class="content1">단국대</div>
                    <div class="content2">소프트웨어학과</div>
                    </div>
                </li>
            </ul> 
            <!-- Basic_Info 끝 --> 

            <!-- main_text0 시작 -->
        <div class="main_text0" id="link_IntroArea_Text">
            <h1>ABOUT ME</h1>
            <div class="content1">내가 좋아하는것들</div>

            <ul class="icons">
                <li>
                    <div class= "container">
                        
                    </div>
                    <div class="content_bold">음식</div>
                    <div class="content3">
                        대부분 음식을 좋아하지만 
                        <br>밀가루 음식을 더 좋아합니다.
                        <div class ="intro">
                            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/mandu.jpg' %}">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="content_bold">게임</div>
                    <div class="icon_img">
                        <div class ="intro">
                            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/league.jpg' %}">
                            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/battle.jpg' %}">
                            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/maple.jpg' %}">
                        </div>  
                    
                    </div>
                </li>
                <li>
                    <div class="icon_img">
                        
                    </div>
                    <div class="content_bold">음악 감상</div>
                    <div class ="intro">
                        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/iu.jpg' %}">
                        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/박효신.jpg' %}">
                        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/다비치.jpg' %}">
                    </div>
                    
                </li>
            </ul>
            </div>
           <!-- main_text0 끝 -->

           <!-- main_text1 시작 -->
            <div class="main_text1" id="link_main_Text1">
            <h1>MBTI</h1>
            <div class="content1">ISFP</div>
            <div class="MAIN_INTRO">
                <div class ="intro">
                <img src="{% static 'images/isfp.png' %}"> 
                </div>
                <div class="content4">
                    <h2></h2>
                    호기심 많은 예술가
                    <br>말없이 다정하고 온화하며 사람들에게 친절합니다
                    <br>내면의 모습이 잘 보이지 않으며 의견 충돌을 피하고, 인화를 중시합니다.
                    <br>인간과 관계되는 일을 할 때 자신의 감정과 타인의 감정에 지나치게 민감합니다.
                    <br>결정력과 추진력을 부족합니다.
                    <br>눈치가 빠르며, 주변 상황파악이 빠릅니다.
                </div>
            </div>
        </div>
          
             <!-- main_text3  --> 
             <footer>
                <div></div>
                <div>
                    <br>
                   
                    Email. whdans2468@naver.com
                </div>
            </footer>
         </div>
        </div>
    </body>
</html> 